@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* General */
body {
  display: flex;
  flex-direction: column;
  background-color: #e1e1e1;
  min-height: 100vh;
  color: #333;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  margin: 10px 0;
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
header {
  position: fixed;
  z-index: 1000;
  background-color: #5a1414;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
}

.navbar a:hover {
  border-bottom: 2px #ffb70a solid;
  color: #ffb70a;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  position: relative;
  margin-right: 1.25rem;
}

.navbar a {
  transition: color 0.5s ease, border-bottom 0.3s ease;
  padding: .675rem;
  color: #e1e1e1;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

/* Dropdown */
.navbar ul ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.3s ease;
  background-color: #5a1414;
  padding: 1rem;
  white-space: nowrap;
}

.navbar li:hover > ul {
  display: block;
  visibility: visible;
  opacity: 1;
}

.navbar ul ul li {
  margin: 10px 0;
  width: 100%;
}

.navbar ul ul a {
  padding: .675rem;
}

.navbar img {
  float: right;
  padding-top: 15px;
  max-width: 70px;
}

/* Navbar img Animation */
#rotatingImage {
  animation: rotate 5s linear infinite;
  width: 70px;
  height: auto;
}

@keyframes rotate {
  from {
      transform: rotateX(0deg);
  }
  to {
      transform: rotateX(360deg);
  }
}

/* FOOTER */
.footer {
  margin-top: auto;
  background-color: #5a1414;
  padding: 1.25rem 0;
  color: #e1e1e1;
  text-align: center;
}

/* Index */
/* Photo */
#photo {
  background-position: center;
  padding-top: 5.5rem;
  max-width: 100%;
  height: auto;
}

/* About */
section h1 {
  text-align: center;
}

section p {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  text-align: justify;
  text-indent: 1.875rem;
}

/* Win table */
.wintable {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  width: 50%;
  table-layout: fixed;
}

#row {
  font-size: 1.875rem;
}

.tableicon {
  max-width: 5rem;
}

.wintable td{
  border: 0rem;
  padding: 0.5px;
  text-align: center;
}

.wintable img {
  transition: transform .7s ease-in-out;
}

.wintable img:hover {
  transform: rotate(360deg);
}

/* Contact Us page */
.contact-container {
  margin: 1.25rem auto;
  padding-top: 5.625rem;
  max-width: 1200px;
  overflow: hidden;
}

.contact-container p {
  text-align: center;
}

.contact-column {
  float: left;
  width: 45%;
  margin: 5rem 0;
}

.map-column {
  float: right;
  width: 45%;
  margin: 6rem 0;
}

.map-column iframe {
  width: 100%;
  min-height: 100%;
}

/* Contact Us form */
.contact-column .container {
  margin: 1.25rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f1f0f0;
  padding: 1.25rem;
  max-width: 100%;
}

.contact-column h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input, select, textarea {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f0f0;
  padding: 0.5rem;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
  background-color: #ffb70a;
  color: #fff;
}

input[type="submit"]:hover {
  background-color: #fbce64;
}

/* Hamburger Menu Styles */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fbce64;
  padding: 0.6rem 0;
}

/* Show more/less checkbox */
#ch {
  display: none;
}

/* FANS */
.fans {
  margin-top: 6rem;
}

.fans h1 {
  margin: 2rem 2rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
}

.comment {
  margin: auto 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f1f0f06d;
  padding: 1.25rem;
}

.comment p {
  margin: 1rem 2rem;
}

.date-name {
  display: flex;
  justify-content: space-between;
  margin: auto 4rem;
}

.date-name p {
  font-size: large;
  font-weight: bold;
}

.form-container {
  margin: 4rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f1f0f06d;
  padding: 1.25rem;
  max-width: 50%;
}

.form-container form {
  margin: 2rem 4rem;
}

.form-container input, textarea {
  background-color: #f1f0f06d;
}

.form-container button {
  cursor: pointer;
  border: none;
  background-color: #ffb70a;
  color: #fff;
  padding: 0.5rem;
  max-width: 12rem;
  font-weight: bold;
  border-radius: 4px;
  align-self: end;
}

.form-container button:hover {
  background-color: #fbce64;
}

/* NEWS */

.news h1 {
  margin-top: 8rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 4rem;
}

.news-item {
  width: calc(25% - 1rem); /* Four items in a row for larger screens */
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.news-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.news-item h2 {
  font-size: 1.2rem;
  margin: 1rem;
}

.news-item p {
  margin: 0 1rem 1rem 1rem;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .news-item {
      width: calc(33.33% - 1rem); /* Three items in a row for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .news-item {
      width: calc(50% - 1rem); /* Two items in a row for even smaller screens */
  }
}

@media screen and (max-width: 280px) {
  .news-item {
      width: 100%; /* One item in a row for screens with a width of 280px or less */
  }
}

/* ADMIN */
.admin h1 {
  margin-top: 8rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.admin-container {
  margin: 2rem;
  max-width: 50%;
}

#news-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

img {
  margin-bottom: 1rem;
}

#image, #news {
  display: none; /* Hide the default file input */
}

.add-image-button, button {
  cursor: pointer;
  background-color: #ffb70a;
  color: #fff;
  padding: 0.5rem;
  max-width: 12rem;
  font-weight: bold;
  border-radius: 4px;
  align-self: flex-end;
}

.add-button:hover {
  background-color: #fbce64;
}


@media only screen and (max-width: 700px) {
  h1 {
    font-size: 21px;
  }

  /* Hide the menu by default */
  .menu-list {
    display: none;
  }

  /* Show the menu icon for smaller screens */
  .navbar {
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 0.625rem;
  }

  .menu-icon {
    display: block;
  }

  .navbar ul ul {
    position: static;
    visibility: visible;
    opacity: 1;
    background-color: #5a1414;
    padding: 1rem;
    white-space: nowrap;
  }

  /* Show the menu for smaller screens */
  .menu-list.show-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 4rem;
    width: 20rem;
    background-color: #5a1414;
    opacity: 90%;
    padding: 0.5rem;
  }

  .menu-list.show-menu li {
    margin-bottom: 0.5rem;
  }

  .menu-list.show-menu li a {
    font-size: 2rem;
  }

  .menu-icon {
    order: -1; /* Move the icon to the beginning for smaller screens */
  }

/* Show the dropdown for smaller screens */
  .navbar ul ul {
    position: static;
    display: none;
    padding: 0.5rem;
    white-space: nowrap;
  }

  .navbar li:focus > ul {
    display: block;
  }

  /* Main */
  .text {
    height: 20rem;
    overflow: hidden;
  }

  .container {
    position: relative;
  }

  label {
    position: absolute;
    top: 100%;
    padding-left: 2rem;
    text-decoration: underline;
  }

  label:after {
    content: "Show More";
  }

  input:checked + label:after {
    content: "Show Less";
  }

  input:checked ~ div {
    height: 100%;
  }

  /* Win table */
  .wintable {
    width: 100%;
  }

  .wintable th {
    font-size: 0.8rem;
  }

  /* Contact Us page*/
  .contact-container {
    margin: 1.25rem auto;
    padding-top: 5.625rem;
    overflow: hidden;
  }

  .contact-column,
  .map-column {
    width: 90%;
    float: none;
    margin: auto;
  }

}

@media screen and (max-width: 400px) {
  .command-names {
    display: none;
  }

}
